input[type=password] {
    width: 30%;
    /* height: 20px; */
    padding: 10px;
    border-radius: 99px;
    border: 1px solid rgb(253, 80, 80);
    outline: none;
    background: transparent;
    background-color: white;
}

input:focus {
    border: 3px solid rgb(253, 80, 80);
}

.customer {
    border-collapse: collapse;
    width: 100%;
    align-content: center;
    margin-bottom: 20px;
}

.customer td, .customer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customer tr:nth-child(even){background-color: #f2f2f2;}
  
  .customer tr:hover {background-color: #ddd;}
  
  .customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(253, 80, 80);
    color: white;
  }

  .table_header {
      display: flex;
      justify-content: space-between;
      margin: 5px;
      padding: 10px;
  }

  .vertify {
      background-color: rgb(255, 230, 0);
      color: #000;
      border: none;
      border-radius: 99px;
  }
  .vertify:hover{
    cursor: pointer;
    transition: 100ms transform ease-in;
    transform: scale(1.03);
  }

  .delivery {
    background-color: rgb(0, 255, 64);
    color: #000;
    border: none;
      border-radius: 99px;
  }
  .delivery:hover{
    cursor: pointer;
    transition: 100ms transform ease-in;
    transform: scale(1.03);
  }