input[type=password] {
    width: 30%;
    /* height: 20px; */
    padding: 10px;
    border-radius: 99px;
    border: 1px solid rgb(253, 80, 80);
    outline: none;
    background: transparent;
    background-color: white;
}

input:focus {
    border: 3px solid rgb(253, 80, 80);
}

.customer {
    border-collapse: collapse;
    width: 100%;
    align-content: center;
    margin-bottom: 20px;
}

.customer td, .customer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customer tr:nth-child(even){background-color: #f2f2f2;}
  
  .customer tr:hover {background-color: #ddd;}
  
  .customer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(253, 80, 80);
    color: white;
  }

  .table_header {
      display: flex;
      justify-content: space-between;
  }